:root {
    --primary-color: #ffffff;
    --page-color: #ffffff;
    --max-width: 1440px;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */

body {
    font-family: 'Outfit';
}

h1 {
    font-weight: 700;
}

p {
    font-weight: 400;
}